---
layout: sidebar_right
title: Announcements and News
---
{% for post in site.categories.news %}
<!-- ==================== Post 1 ==================== -->
<div class="post bottom">

  {% if post.img %}
  <div class="image-post bottom-2">
    <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img }}"></a>
  </div>
  {% endif %}

  <h2 class="title bottom-2"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> <span class="line"></span></h2><!-- Title Post -->

  <div class="post-meta bottom-2">
    <div class="meta"><span class="history icon gray"></span> On {{ post.date | date: "%d %B, %Y" }} </div><!-- Date -->
    <div class="meta"><span class="user icon gray"></span> By : {{ post.author }}</div><!-- Author -->
  </div><!-- End post-meta -->

  <div class="post-content">
    <p>
      {{ post.excerpt }}
    </p>
    <a href="{{ site.url }}{{ post.url }}" class="button medium color">Read More</a>
  </div><!-- End post-content -->

</div>
{% endfor %}
