<!-- Start Sidebar Widgets -->
<div class="five columns bottom">
  <div id="horizontal-tabs" class="bottom">

    <ul class="tabs">
      <li id="tab1">Recent</li>
    </ul>
    <div class="contents">
      <div id="content1" class="tabscontent">
	<ul class="recent-posts">
	  {% for post in site.categories.news limit:2 %}
	  <li>
	    <p><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></p>
	    <span class="color">{{ post.date | date_to_long_string }}</span>
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </div><!-- End contents -->

  </div><!-- End horizontal-tabs -->
</div>

<div class="five columns bottom">
  <div class="fb-like-box" data-href="https://www.facebook.com/acmrp" data-width="250" data-height="100" data-show-faces="false" data-stream="false" data-show-border="false" data-header="false"></div>
</div>
