<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Reflections | Projections Conference</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">

    <!-- Color Skins -->
    <link rel="stylesheet" href="{{ site.url }}/css/skins/green.css" name="skins">

    <!-- Layout Style -->
    <link rel="stylesheet" href="{{ site.url }}/css/layout/boxed.css" name="layout">

    <!-- Small Icons -->
    <link rel="stylesheet" href="{{ site.url }}/css/icons.css">

    <!-- Start JavaScript -->

    <script src="{{ site.url }}/js/jquery-1.7.2.min.js"></script> <!-- jQuery library -->
    <script src="{{ site.url }}/js/jquery.easing.1.3.min.js"></script> <!-- jQuery Easing -->
    <script src="{{ site.url }}/js/jquery-ui.min.js"></script> <!-- jQuery Ui -->
    <script src="{{ site.url }}/js/jquery.cookie.js"></script> <!-- jQuery cookie -->
    <script src="{{ site.url }}/js/jquery.uniform.min.js"></script> <!-- jQuery Uniform -->
    <script src="{{ site.url }}/js/ddsmoothmenu.js"></script> <!-- Nav Menu ddsmoothmenu -->
    <script src="{{ site.url }}/js/jquery.flexslider.js"></script> <!-- Flex Slider  -->
    <script src="{{ site.url }}/js/jquery.eislideshow.js"></script> <!-- Elastic Slider  -->
    <script src="{{ site.url }}/js/jquery.iconmenu.js"></script> <!-- Sliding Text and Icon Menu Style  -->
    <script src="{{ site.url }}/js/colortip.js"></script> <!-- Colortip Tooltip Plugin  -->
    <script src="{{ site.url }}/js/tytabs.js"></script> <!-- jQuery Plugin tytabs  -->
    <script src="{{ site.url }}/js/carousel.js"></script> <!-- jQuery Carousel  -->
    <script src="{{ site.url }}/js/jquery.prettyPhoto.js"></script> <!-- jQuery Prettyphoto  -->
    <script src="{{ site.url }}/js/jquery.isotope.min.js"></script> <!-- Isotope Filtering  -->
    <script src="{{ site.url }}/js/selectnav.js"></script> <!-- Responsive Navigation Menu by SelectNav -->
    <script src="{{ site.url }}/js/jquery.ui.totop.js"></script> <!-- UItoTop plugin  -->
    <script src="{{ site.url }}/js/custom.js"></script> <!-- Custom Js file for javascript in html -->
    <script src="{{ site.url }}/js/jquery.tweet.js"></script> <!-- jQuery Tweets -->
    <script src="{{ site.url }}/js/jflickrfeed.min.js"></script> <!-- jQuery Flickr -->
    <script src="{{ site.url }}/js/twitter-flickr-options.js"></script> <!-- jQuery Tweets Options -->
    <script src="{{ site.url }}/js/styleswitch.js"></script> <!-- Style Switcher -->

    <!-- End JavaScript -->

    <!--[if lt IE 9]>
	<script src="{{ site.url }}/js/html5.js"></script>
	<![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/favicon/apple-touch-icon-114x114.png">

  </head>
  <body class="subtlenet2">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=150125275144569";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div id="wrap" class="boxed">

      <header>
	<div class="container clearfix">

	  <div class="one-third column">
            <div class="logo">
              <a href="{{ site.url }}">
		<img src="{{ site.url }}/images/logo.png" alt="Reflections | Projections Conference" />
              </a>
            </div>
	  </div><!-- End Logo -->

	  <div class="two-thirds column">
            <nav id="menu" class="navigation">
              <ul id="nav">
		<li><a href="{{ site.url }}/about.html">About</a>
		  <ul>
                    <li><a href="{{ site.url }}/about.html#history">History</a></li>
                    <li><a href="{{ site.url }}/about.html#getting-there">Getting There</a></li>
		    <li><a href="{{ site.url }}/about.html#contact-us">Contact Us</a></li>
		  </ul>
		</li>
		<li><a href="{{ site.url }}/register.html">Register</a></li>
                <li><a href="{{ site.url }}/volunteers.html">Volunteer</a></li>
		<!--<li><a href="{{ site.url }}/news.html">News</a></li>-->
		<li><a href="{{ site.url }}/speakers.html">Sessions</a>
			<ul>
                    <li><a href="{{ site.url }}/speakers.html">Speakers</a></li>
                    <li><a href="{{ site.url }}/schedule.html">Schedule</a></li>
		  </ul>
		</li>
		<li><a href="{{ site.url }}/career_fairs.html">Career Fairs</a>
		  <ul>
                    <li><a href="{{ site.url }}/career_fairs.html#startup_fair">Startup Fair</a></li>
                    <li><a href="{{ site.url }}/career_fairs.html#job_fair">Job Fair</a></li>
		  </ul>
		</li>
		<li><a>More Events</a>
		  <ul>
		    <li><a href="{{ site.url }}/mechmania.html">MechMania</a></li>
		    <li><a href="http://puzzlebang.com" target="_blank">Puzzlebang <span class="new_window icon"></span></a></li>
		  </ul>
		</li>

              </ul>



            </nav>
	  </div><!-- End Menu -->

	  <div class="sixteen columns"><hr /></div>

	</div><!-- End Container -->
      </header><!-- <<< End Header >>> -->

      <div id="content" class="container clearfix">
	{% block main  %}{{ content }}{% endblock %}
      </div><!-- <<< End Container >>> -->

      <footer>
	<div class="container">

	  <div class="four columns">
            <div class="about">
              <h3 class="title">About Us<span class="line"></span></h3>
              <p>
		Reflections | Projections is a four-day, student-run conference that focuses on computing technology.  Held at the University of Illinois, the event is packed with great speakers, career fairs, and competitions. Come check us out October 10th - 13th, 2013!
              </p>
            </div>
	  </div><!-- End about -->
	  <div class="eight columns">
            <div>
              <h3 class="title">Recent Tweets<span class="line"></span></h3>
	      <a width="460" height="200" class="twitter-timeline" data-tweet-limit=2 data-chrome="nofooter transparent noheader noborders noscrollbar" data-dnt="true" href="https://twitter.com/acmreflections" data-widget-id="347589193440055296">Tweets by @acmreflections</a>
	      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
	  </div><!-- End elsewhere -->

	  <div class="four columns">
            <div class="subscribe">
              <h3 class="title">Subscribe<span class="line"></span></h3>
              <p>Subscribe to our e-mail newsletter to receive announcements about new speakers and events.</p>
	      <form action="http://uiuc.us4.list-manage.com/subscribe/post?u=0628ea3ae6ae669985da21668&amp;id=297471fd80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<input type="text" class="mail" name="EMAIL" value="Enter your Email" onBlur="if(this.value == '') { this.value = 'Enter your Email'; }"
		       onfocus="if(this.value == 'Enter your Email') { this.value = ''; }"/>
		<input type="submit" value="Subscribe" class="submit" />
              </form>
            </div>
	  </div><!-- End subscribe -->

	  <div class="sixteen columns"><hr class="bottom" /></div>

	  <div class="eight columns"><span class="copyright">
	      © Copyright 2013 <a href="http://acm.uiuc.edu">ACM@UIUC</a>. All Rights Reserved.
	  </div>

	  <div class="eight columns">
            <div class="social">
              <a href="http://facebook.com/acmrp"><span class="social-icon facbook color"></span></a>
              <a href="http://twitter.com/acmreflections"><span class="social-icon twitter color"></span></a>
              <a href="https://plus.google.com/112368859524676612958/"><span class="social-icon google_plus color"></span></a>
              <a href="http://youtube.com/acmuiuc"><span class="social-icon youtube color"></span></a>
            </div>
	  </div>

	</div><!-- End container -->
      </footer><!-- <<< End Footer >>> -->

    </div><!-- End wrap -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30929649-1']);
      _gaq.push(['_setDomainName', 'uiuc.edu']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
