{% extends '_layouts/base.html' %}
{% block main %}
  <div class="container clearfix">

   <div class="sixteen columns"> <h1 class="page-title">{{ page.title }}<span class="line"></span></h1>
   </div><!-- Page Title -->

    <!-- Start Single Post -->
   <div class="sixteen columns top bottom">

     <!-- ==================== Single Post ==================== -->
     <div class="post gallery bottom">

      <div class="post-content bottom">
	{{ content }}
      </div><!-- End post-content -->

     </div>
     <!-- ==================== End single post  ==================== -->

   </div><!-- End column -->


   <div class="clearfix"></div>


  </div><!-- <<< End Container >>> -->

{% endblock %}
